JavaEE/JavaWebServiceTest/WebContent/wsdl/IsimDondurme.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="isim">
    <complexType>
     <sequence>
      <element name="a" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isimResponse">
    <complexType>
     <sequence>
      <element name="isimReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="hey">
    <complexType/>
   </element>
   <element name="heyResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="isimRequest">

      <wsdl:part element="impl:isim" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isimResponse">

      <wsdl:part element="impl:isimResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="heyResponse">

      <wsdl:part element="impl:heyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="heyRequest">

      <wsdl:part element="impl:hey" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="IsimDondurme">

      <wsdl:operation name="isim">

         <wsdl:input message="impl:isimRequest" name="isimRequest">

       </wsdl:input>

         <wsdl:output message="impl:isimResponse" name="isimResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hey">

         <wsdl:input message="impl:heyRequest" name="heyRequest">

       </wsdl:input>

         <wsdl:output message="impl:heyResponse" name="heyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IsimDondurmeSoapBinding" type="impl:IsimDondurme">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isim">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isimRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isimResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="heyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="heyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IsimDondurmeService">

      <wsdl:port binding="impl:IsimDondurmeSoapBinding" name="IsimDondurme">

         <wsdlsoap:address location="http://localhost:8080/WebServiceTest/services/IsimDondurme"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
